#el_canvasable {
  height: 100%;
  width: 100%;
}
div.in_debug_mode {
  #el_canvasable {
    height: 100%;
    width: 100%;
  }
  #el_debug_info {
    position:absolute;
    right:0;
    height: 100%;
    width: 30%;
    color: $brightGrey;
    background-color: rgba(45, 45, 45, .5);
  }
}
